@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: goldenrod;
    background-color: black;
}

/* heading and logo */

h1, h2 {
    font-family: bitter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgoldenrod;
}

#logo {
    font-size: 300%;
    float: left;
}

/* dropdown menu */

#menu {
    letter-spacing: 2px;
    float: right;
    margin-right: 60px;
}

#logo {
    line-height: 75px;
}

#dropdown {
    font-size: 150%;
    letter-spacing: 2px;
    background-color: whitesmoke;
    padding: 8px;
    font-weight: bold;
    margin-top: 25px;
}

#links {
    display: none;
    position: absolute;
    background-color: whitesmoke;
}

#links a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 120%;
}

#menu:hover #links {
    display: block;
}

#links a:hover {
    background-color:darkgoldenrod
}

#menu:hover #dropdown {
    background-color: darkgoldenrod;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/desert-3217765_1920.jpg) no-repeat center center;
}