@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: goldenrod;
    background-color: black;
}

/* heading and logo */

h1, h2 {
    font-family: bitter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgoldenrod;
}

#logo {
    font-size: 300%;
    float: left;
}

/* dropdown menu */

#menu {
    letter-spacing: 2px;
    float: right;
    margin-right: 60px;
}

#logo {
    line-height: 75px;
}

#dropdown {
    font-size: 150%;
    letter-spacing: 2px;
    background-color: black;
    padding: 6px;
    margin-top: 25px;
    color: darkgoldenrod;
}

#links {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1;
}

#links a {
    color: darkgoldenrod;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 120%;
    text-align: center;
    width: 98px;
}

#menu:hover #links {
    display: block;
    font-weight: bolder;
}

#links a:hover {
    font-weight: bold;
    background-color: black;
}

#menu:hover #dropdown {
    background-color: whitesmoke;
    font-weight: bold;
}

/* hero image and welcome text styling */

#hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width:100%;
    background: url(../images/desert-3217765_1920.jpg) no-repeat center center;
}

#welcome-text, #welcome-text h2 {
    color: black;
}

#welcome-text {
    font-size: 120%;
    font-family: bitter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 500px;
    height: 100px;

    padding: 10px;
    background-color: rgba(127, 81, 18, .7);

    bottom: 50px;
    position: absolute;
}

/* create movement for sun on hero image to move left to right */

#sun {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url(../images/favpng_animation-sunlight-clip-art.png) center no-repeat;
    position: relative;
    animation: sun-slide 10s infinite;
}

@keyframes sun-slide {
    0% {
        top: 50px; left:0px;
    }
    10% {
        top: 35px; left:150px;
    }
    20% {
        top: 20px; left:300px;
    }
    30% {
        top: 10px; left:450px;
    }
    40% {
        top: 0px; left:600px;
    }
    50% {
        top: -10px; left:750px;
    }
    60% {
        top: -20px; left: 900px;
    }
    70% {
        top: -10px; left: 1050px;
    }
    80% {
        top: 0px; left: 1200px;
    }
    90% {
        top: 10px; left: 1350px;
    }

    100% {
        top: 20px; left:1500px;
    }
}

/* timeline styling */

.years {
    font-size: 100%;
    letter-spacing: 2px;
}

.content {
    color: darkgoldenrod;
}