@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Raleway:wght@300&display=swap');

/* General style rules*/

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: goldenrod;
    background-color: black;
    letter-spacing: 2px;
}

/* heading and logo */

h1, h2 {
    font-family: bitter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgoldenrod;
}

#logo {
    font-size: 300%;
    float: left;
}

/* dropdown menu */

#menu {
    float: right;
    margin-right: 60px;
}

#logo {
    line-height: 75px;
}

#dropdown {
    font-size: 150%;
    letter-spacing: 2px;
    background-color: black;
    padding: 6px;
    color: darkgoldenrod;
    margin-top:20px;
}

#links {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1;
}

#links a {
    color: darkgoldenrod;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 120%;
    text-align: center;
    width: 98px;
}

#menu:hover #links {
    display: block;
    font-weight: bolder;
}

#links a:hover {
    font-weight: bold;
    background-color: black;
}

#menu:hover #dropdown {
    background-color: whitesmoke;
    font-weight: bold;
}

/* hero image and welcome text styling */

#hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width:100%;
    background: url(../images/desert-3217765_1920.jpg) no-repeat center center;
}

#welcome-text, #welcome-text h2 {
    color: black;
}

#welcome-text {
    font-size: 120%;
    font-family: bitter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 500px;
    height: 100px;

    padding: 10px;
    background-color: rgba(127, 81, 18, .7);

    bottom: 50px;
    position: absolute;
}

/* create movement for sun on hero image to move left to right using keyframes */

#sun {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url(../images/favpng_animation-sunlight-clip-art.png) center no-repeat;
    position: relative;
    animation: sun-slide 10s infinite;
}

@keyframes sun-slide {
    0% {
        top: 60px; left:0px;
    }
    10% {
        top: 40px; left:150px;
    }
    20% {
        top: 30px; left:300px;
    }
    30% {
        top: 20px; left:450px;
    }
    40% {
        top: 10px; left:600px;
    }
    50% {
        top: 5px; left:750px;
    }
    60% {
        top: 0px; left: 900px;
    }
    70% {
        top: 0px; left: 1050px;
    }
    80% {
        top: 10px; left: 1200px;
    }
    90% {
        top: 20px; left: 1350px;
    }

    100% {
        top: 30px; left:1500px;
    }
}

/* heading and paragraph styling */

.main-headings {
    text-align: center;
    font-size: 180%;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* why study egypt styling */

#study_egypt {
    margin-left: 25px;
    margin-right: 25px;
    justify-content: right;
}

/* timeline styling */

#timeline {
    margin-left: 25px;
    justify-content: right;
}

.years {
    font-size: 100%;
    text-decoration: underline;
}

.content {
    color: darkgoldenrod;
}

#hieroglyph-image {
    float: right;
    height: 400px;
    margin-right: 25px;
}


/* myths and mummification styling */

#pharaoh_image {
    float: left;
    margin-left: 25px;
    height: 300px;
}

#myths_section {
    margin-bottom: 25px;
    justify-content: right;
}

a {
    color: #daa520;
}

a:hover {
    color: whitesmoke;
}

/* footer styling */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

/* form styling */
#form {
    clear: both;
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#sign-background {
    clear: left;
    background: url(../images/newsletter_background.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}

.newsletter-form {
    background-color:rgba(0, 0, 0, 0.7);
    max-width: 600px;
    position: relative;
    margin: auto;
    padding: 30px;
}

.newsletter-form > h2 {
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
}

.form-input {
    background:transparent;
    display: block;
    color: #daa520;
    width:75%;
    height:25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius:2px;
}

.form-input:hover {
    border-color: darkgoldenrod;
}

.submit-button {
    margin-top:20px;
    border-radius:2px;
    padding: 10px 25px 10px 25px;
    text-align:center;
    font-size:100%;
    background-color: darkgoldenrod;
    color: black;
    display: block;
}

.submit-button:hover {
    color: white;
}

#comment-box {
    background: transparent;
    margin:5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius:2px;
}

#comment-box:hover {
    border-color: darkgoldenrod;
}

textarea {
    max-width: 100%;
    color: darkgoldenrod;
    font-family: inherit;
    font-size: inherit;
}

/* gallery styling */ 

#gallery_main {
    clear: both;
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#gallery_background {
    background: url(../images/mythology.jpg);
    background-size: cover;
    background-position: center;
    height: 1100px;
    width: 100%;
}

.video_section {
    text-align: center;
    position: relative;
    background-color:rgba(0, 0, 0, 0.7);
    max-width:800px;
    border-radius: 25px;
    border: 2px solid goldenrod;
    height: 1025px;
    padding-top: 25px;
    margin-top: 25px;
    margin: auto;
}

.video_section * {
    color: whitesmoke;
    margin: 10px;
}

/* responsive design */
/* 1200 px screen and down */

@media screen and (max-width: 1200px) {
    #myths_section {
        width: 80%;
        margin: 0 auto;
    }

    #timeline_section {
        width: 80%;
        margin: 0 auto;
    }

    #study_section {
        width: 80%;
        margin: 0 auto;
    }

    .video_section * {
        width: 80%;
        margin: 0 auto;
    }
}


/* 950px and down */
@media screen and (max-width: 950px) {
    #welcome-text {
        width: auto;
    }
}


/* 500px screen and down */
@media screen and (max-width: 500px) {
    #menu {
        float: left;
    }

    #hieroglyph-image {
        height: 200px;
    }

    iframe {
        width: auto;
        height: 300px;
    }
}